{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<div class="login-wrapper">
    <div class="login-box">
        <div class="logo-wrapper">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="School Logo">
        </div>

        <h2>ABCD <br>Internations School</h2>
        <p class="subtitle">Sign in to continue</p>

        <form method="post">

            <div class="input-box">
                <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                <input name="email" type="email" required>
                <label>Email</label>
            </div>

            <div class="input-box">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <input name="password" type="password" required>
                <label>Password</label>
            </div>

            {% if error %}
            <div class="error-box">{{ error }}</div>
            {% endif %}

            <button type="submit" class="btn-login">Login</button>

        </form>
    </div>
</div>

{% endblock %}
